/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 40px;
}
.todo-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.heading {
  color: #ff8542;
  font-weight: bold;
  font-family: Roboto;
  font-size: 38px;
}
